body {
	background-color: #EFF7FF;
	font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
	padding: 10px;
	color: #9CF;
	letter-spacing: .5px;
}

a {
	text-decoration: none;
}

.row {
	background-color: white;
	padding: 9px 12px;
	border: 1px solid lightblue;
	border-bottom: 0px;
	float: right;
	width: 60%;
	margin-right: 5%;
}

.row:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.row:last-child {
	border-bottom: 1px solid lightblue;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 5%;
}

.refresh, .return {
	text-align: center;
	border: 1px solid lightblue;
	border-radius: 5px;
}

.refresh:hover, .return:hover {
	font-weight: bold;
	cursor: pointer;
}

.return {
	display: none;
}

.username {
	display: inline;
}

.username:hover {
	font-weight: bold;
	color: #9CF;
	cursor: pointer;
}